{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 440,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "quoteProps": "as-needed"
}