{
  "printWidth": 440,
  "objectWrap": "collapse",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "tabWidth": 4,
  "useTabs": false,
  "quoteProps": "as-needed"
}
